root {
    background-color: #f72585; /*Flickr Pink*/
    background-color: #7209b7; /*Purple*/
    background-color: #3a0ca3; /*Trypan Blue*/
    background-color: #4361ee; /*Ultramarine Blue*/
    background-color: #4cc9f0; /*Vivid Sky Blue*/
    background-color: #020f13; /*Rich Black FOGRA 29*/
}
